:root{
  --default-section-padding: 0.5rem 5% 5% ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  padding: var(--default-section-padding);
}

/* section > nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* section > nav > navContent */
.navContent{
  flex-basis: 60%;
}

/* section > nav > navContent > navList */
.navList{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* section > nav > navContent > navList > navListItem */
.navListItem{
  list-style: none;
}

/* section > nav > navContent > navList > navListItem > work,galary,about */
.work, .galary, .about{
  margin-right: 70px;
  padding: 0 10px;
}

/* section > nav > navContent > navList > navListItem > work,galary,about > dropdown */
.aboutDropdown, .workDropdown, .galaryDropdown{
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
}

/* section > nav > navContent > navList > navListItem > work,galary,about > dropdown > dropdownlist */
.dropdownItem{
  list-style: none;
}

/* section > nav > navContent > navList > navListItem > contact */
.contact {
  flex-basis: 50%;
  text-align: end;
  margin-left: 70px;
}

/* nav > hamburger */
.hamburger{
  display: none;
}

/*  */